@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap')
* {
	box-sizing: border-box;
}

body {
	background: #3eaae9;
	background: -webkit-linear-gradient(to right, #D4D3DD, #5cd0f3);
	background: linear-gradient(to right, #D4D3DD, #00fff2);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Lato';
	margin: 0;
}

.container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
    /* text-shadow: 10px 10px; */
    font-family: 'Climate Crisis', cursive;
    font-weight: 900;
    background: #00FFFF;
    background: linear-gradient(to right, #00FFFF 27%, #082F9C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: center;
    
}

#pokedex {
    display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
}

.card {
    background-color: #b3fcff;
	border-radius: 15px;
    box-sizing: border-box;
    border: 5px solid rgb(68, 17, 207);
    padding: 0 40px;
	box-shadow: 0 10px 15px rgba(37, 103, 226, 0.5);
    margin: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-betweenCS;
    transition: all 0.5s ease;

}

.card:hover{
    background-color: #3eaae9;
}

.card:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    /* text-shadow: 0 10px 15px rgba(0, 60, 255, 0.5); */
    font-size: 31px;
    font-weight: 950;
    font-family: 'Pacifico', cursive';
}

.card-subtitle {
    margin-top: 5px;
    color: #ff2600;
    font-weight: bold;
}

.card-image {
    
    margin-top: 20px;
    max-width: 100%;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

.floating-text {
	background-color: #858b99;
	border-radius: 10px 10px 0 0;
	color: #9b2e2e;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

body {
    background-image: url("dex.gif");
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}